<header>
    <h1>Eat-da-Burger!</h1>
</header>

<div class="container mt-5">
    <img src="https://media.giphy.com/media/TiUiqGzH4E1A0pjmAi/giphy.gif" class="burger-img" alt="burger">
    <img src="https://i.gifer.com/tbb.gif" class="burger-img" alt="cat dancing">
    <div class="row">
        <div class="col-sm-9 col-lg-6"><br>
            <h2>Burgers ready!</h2><br>
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block devoured=true}}
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col-sm-9 col-lg-6"><br>
            <h2>Devoured burgers!</h2><br>
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                {{> burgers/burger-block devoured=false}}
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>

    <h4 class="mt-5">Add a Burger</h4>
    <form class="create-form">
        <div class="form-group">
            <label for="ca">Buger Name:</label>
            <input type="text" id="ca" name="name">
        </div>
        <div class="form-group">
            <h4> <label for="devoured">Devoured?</label><br></h4>
            <h6> <input type="radio" name="devoured" value="1" checked> Devoured !
                <input type="radio" name="devoured" value="0"> Devour !</h6>
        </div>
        <button class="myButton" type="submit">Add Burger</button>
    </form>
</div>
<footer>
    <div style="text-align: center;">
        <a href="https://github.com/ram-sah/eat-da-burger#Application-Demo" target="_blank">
            NEED HELP? Application Demo</a></div><br>
    <nav class="footer-text" style="text-align: center;">Copyright &copy; 2020
        <a href="https://github.com/ram-sah" target="_blank">Ram-Sah</a>
    </nav>
</footer>
