body {
  background-color: skyblue;  
  color: #af0a0a;
}
header {
  background: rgb(10, 111, 151);
  color: whitesmoke;
  text-align: center;
  height: 150px;
  padding-top: 50px;
}
h1{
  margin-top: -25px;
  font-size: 5rem;
  text-shadow: 5px 5px gray;
}

